<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <p><a href="{% url 'todo_list_create' %}">CREATE A NEW LIST</a></p>
                <p><a href="{% url 'todo_item_create' %}">CREATE A NEW ITEM</a></p>

                <thead>
                    <th>Name</th>
                    <th>Number of Items</th>
                </thead>
                <tbody>
                        {% for things in lists %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' things.id %}">{{ things.name }}</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
